<div data-controller="active-link" class="ps-3 pe-3">
  <div class="d-flex justify-content-center gap-2">
    <a class="btn top_container__button active" style="width: 100%;" href="">
      All
    </a>
    <a class="btn top_container__button" style="width: 100%;"href="">
      Crime News
    </a>
    <a class="btn top_container__button" style="width: 100%;" href="">
      User Reports
    </a>
</div>
</div>
