<div class="feed__buttons-container">
  <button class="btn top_container__button active"
  data-active-button-target="topButton" >
    All
  </button>
  <button class="btn top_container__button"
  data-active-button-target="topButton" >
    News Reports
  </button>
  <button class="btn top_container__button"
  data-active-button-target="topButton" >
    User Reports
  </button>
</div>
