<div class="ps-3 pe-3">
  <div class="d-flex justify-content-center gap-2">
    <a class="btn top_container__button" style="width: 100%;" href="/feed">
      All
    </a>
    <a class="btn top_container__button" style="width: 100%;"href="/feed?filter=crimenews">
      Crime News
    </a>
    <a class="btn top_container__button" style="width: 100%;" href="/feed?filter=userreports">
      User Reports
    </a>
</div>
</div>
