<div class="col-10">
  <% if incident.user_id.nil? %>
    <h1 class="text--blue"><i>News Report</i></h1>
  <% else %>
    <h1 class="text--blue"><i>User Report</i></h1>
  <% end %>
  <h1><%= incident.title %></h1>
</div>
