<div class="categories__list">
  <% Dir.each_child("app/assets/images/home") do |file| %>
    <% formatted_file = file.gsub(".png", "") %>
    <div class="categories__item">
      <button class="categories__button active" data-active-button-target="categoryButton"
      data-report-details-target="categoryItem"
      data-action="click->report-details#setActiveButton">
        <%= image_tag "#{file}" %>
        <% if formatted_file == 'disturb' %>
          <p>Disturbing the Peace</p>
        <% else %>
          <p><%= formatted_file.capitalize %></p>
        <% end %>
      </button>
    </div>
  <% end %>
</div>
