<!-- TODO: Change icon colors to primary -->
<div class="categories__list">
  <% Dir.each_child("app/assets/images/home") do |file| %>
    <% formatted_file = file.gsub(".png", "") %>
    <div class="categories__item">
      <%= link_to "/?category=#{formatted_file}" do %>
        <%= image_tag "#{file}" %>
      <% end %>
      <p><%= formatted_file.capitalize %></p>
    </div>
  <% end %>
</div>
