<!-- TODO: Remove this file -->
<!--------------------------------- Left Button ------------------------------->
<button
  class="categories__button categories__button--left" data-carousel-target="leftButton"
  data-action="click->carousel#previous"
  >
    <i class="fas fa-angle-left"></i>
</button>
<!--------------------------------- Left Button ------------------------------->

<!--------------------------------- Right Button ------------------------------>
<button
  class="categories__button categories__button--right" data-carousel-target="rightButton"
  data-action="click->carousel#next"
  >
    <i class="fas fa-angle-right"></i>
</button>
<!--------------------------------- Right Button ------------------------------>
