<!-- TODO: Remove buttons and rename carousel -->
<div class="categories" data-controller="carousel">
  <!-- Categories Buttons -->
  <%# <%= render "components/categories_buttons" %>
  <!-- Categories Buttons -->
  <!-- Carousel -->
  <%= render "components/categories_carousel" %>
  <!-- Carousel -->
</div>
