<!-- TODO: Fix form -->
<!-- TODO: Set the controller -->
<div class="incidents-new__date-picker">
  <%= form_with url: "/incidents", method: :get, class:"date_picker_report" do |f| %>
    <%= f.label :incident_date, "Select date: " %>
    <%= f.date_field :incident_date,
      class: "date-picker__input form-control input",
      data: {
        controller: "flatpickr",
        flatpickr_alt_input: "true",
        flatpickr_date_format: "m-d",
        flatpickr_alt_format: "M J",
        flatpickr_disable_mobile: "true", # Prevents native picker on mobile
        flatpickr_default_date: "today",
      }%>
    <%= f.button :select, class: "button date", disabled: true do %>
      <i class="fas fa-chevron-down"></i>
    <% end %>
  <% end %>
</div>
