<div data-feed-target="feed" id="mainContainer">
<div id="listContainer">
<% all_incidents = [] %>
<% all_incidents = @incidents %>
<ul>
  <% @incidents.each do |incident| %>
    <li id="newsCards"><%= link_to incident.title, incident_path(incident) %></li>
    <p><%= incident. %></p>
  <% end %>
<ul>
</div>
</div>
