

<div data-feed-target="feed" class="remove" style="background-color: rgba(60,60,60,0.85); height: 100vh; z-index: 3;">
<ul>
  <% @incidents.each do |incident| %>
    <li><%= link_to incident.title, incident_path(incident) %></li>
  <% end %>
<ul>
</div>
