

<div data-feed-target="feed" id="mainContainer">
<ul>
  <% @incidents.each do |incident| %>
    <li class="card p-1 m-2"><%= link_to incident.title, incident_path(incident) %></li>
  <% end %>
<ul>
</div>
