<div class="card card--dark filter">
  <button class="filter__button">
    <i class="fas fa-chevron-up"></i>
    Filter by category or date
  </button>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit repudiandae architecto nesciunt consequatur deleniti repellat, autem error natus ad, nostrum nobis eligendi ex minus eaque aspernatur animi, veritatis voluptates dolores!
  </div>
</div>
