<div class="report">
  <h3 class="report_container__heading">Report on <span style="color: #238beb">Incident</span></h3>
  <p>Select a category</p>
  <%= render "components/categories" %>
  <%= render "components/date_picker_for_report" %>
</div>
