<ul class="nav__links" data-controller="active-link">
  <li class="active">
    <a class="nav__link" href=""><i class="fas fa-home"></i></a>
  </li>
  <li>
    <div data-controller="feed">
    <a data-feed-target="feedButton" data-action="click->feed#showFeed" class="nav__link" href=""><i class="fas fa-newspaper"></i>
    </div>
    </a>
  </li>
  <li>
    <a class="nav__link" href=""><i class="fas fa-plus"></i></a>
  </li>
  <li>
    <a class="nav__link" href=""><i class="fas fa-map-marked-alt"></i></a>
  </li>
  <li>
    <a class="nav__link" href=""><i class="fas fa-user-circle"></i></a>
  </li>
</ul>
