<div class="card card--gray report_details" data-controller="report-details">
  <button class="report_details__button" data-action="click->report-details#openCard" data-report-details-target="button">
    Add more details (optional)
    <i class="fas fa-chevron-up"></i>
  </button>
  <div class="card__body" data-report-details-target="card">
    <div class="mt-3"></div>
    color: #6d6d6d;
    <%= f.input :description, placeholder: "Write incident details here", label: false, input_html: { :style=> "background: #383838; border: none;", class: "field" }, required: false %>
  </div>
</div>
