<div class="card card--dark report_details" data-controller="report-details">
  <button class="report_details__button" data-action="click->report-details#openCard" data-filter-target="button">
    Add more details (optional)
    <i class="fas fa-chevron-up"></i>
  </button>
  <div class="card__body" data-filter-target="card">
    <%= render "components/categories" %>
    <%= render "components/date_picker" %>
  </div>
</div>
