<div class="top_container__buttons-container" data-controller="active-button">
  <button class="btn top_container__button" data-action="click->active-button#setActive">
    All
  </button>
  <button class="btn top_container__button" data-action="click->active-button#setActive">
    Crime News
  </button>
  <button class="btn top_container__button" data-action="click->active-button#setActive">
    User Reports
  </button>
</div>
