<div class="top_container__buttons-container" data-controller="active-button">
  <button class="btn top_container__button active"
  data-active-button-target="button" >
    All
  </button>
  <button class="btn top_container__button"
  data-active-button-target="button" >
    Crime News
  </button>
  <button class="btn top_container__button"
  data-active-button-target="button" >
    User Reports
  </button>
</div>
