<div class="top_container__buttons-container">
  <a class="btn top_container__button active" href="">All</a>
  <a class="btn top_container__button" href="">Crime News</a>
  <a class="btn top_container__button" href="">User Reports</a>
</div>
