<div class="top_container">
  <div class="top_container__logo">
    <h1>Neighbor<span class="text--blue">HUD</span></h1>
    <h4 class="top_container__heading">Here are the recent incidents in your area</h4>
  </div>
  <%= render "components/top_buttons" %>
</div>
