* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

body {
  font-family: $body-font;
  position: relative;
  background: $dark;
  color: $light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li, ol {
  list-style: none;
}
