/* -------------------------------------------------------------------------- */
/*                                Solid Colors                                */
/* -------------------------------------------------------------------------- */
$primary: #238BEB;
$secondary: #8D67FF;
$success: #1edd48;
$danger: #D32525;
$warning: #FF7E20;
$dark: #1A1919;
$dark-gray: #393C48;
$light-gray: #8E9398;
$light: #FBFBFB;

/* -------------------------------------------------------------------------- */
/*                               Gradient Colors                              */
/* -------------------------------------------------------------------------- */
$primary-gradient: linear-gradient(96.53deg, $primary 5.75%, #3C59C3 88.41%);
$secondary-gradient: linear-gradient(90deg, #9D50BB 0%, #6E48AA 100%);
$dark-gradient: linear-gradient(90deg, #1c1c1d 0%, #333333 100%);
$danger-gradient: linear-gradient(90deg, #DE564D 0%, #E1202B 100%);

/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */
$heading-font: "Squada One", sans-serif;
$body-font: "Roboto", sans-serif;

/* -------------------------------------------------------------------------- */
/*                                 Breakpoints                                */
/* -------------------------------------------------------------------------- */
$phone: 320px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$large-desktop: 1920px;

/* -------------------------------------------------------------------------- */
/*                                 Transition                                 */
/* -------------------------------------------------------------------------- */
$transition-duration: 0.3s;
$transition-timing: ease-in-out;

/* -------------------------------------------------------------------------- */
/*                                   Shadows                                  */
/* -------------------------------------------------------------------------- */
$box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
