<div class="card--comment ps-1 pe-1 ms-4 me-4 mt-3 pb-3">
  <div class="d-flex justify-content-between card--info">
    <p style="margin: 0; padding: 0;">
      <strong><%= comment.user.name %></strong>
    </p>
    <p style="margin: 0; padding: 0;"><%= comment.created_at.to_date %></p>
  </div>
  <p style="margin: 0; padding: 0;"><%= comment.content %></p>
</div>
