<div class="d-flex justify-content-end align-items-center card--category">
  <% if incident.category_list.first == "Disturb" %>
    Disturbing the peace
  <% else %>
    <%= incident.category_list.first %>
  <% end %>
  <%= render "incidents/icon", category: incident.category_list.first %>
</div>
