<p class="card--category">
  <% meguro_lat = 35.6415 %>
  <% meguro_long = 139.6981 %>
  <% if request.location.latitude.present? %>
    <% distance = (Geocoder::Calculations.distance_between([request.location.latitude, request.location.longitude], [@incident.latitude, @incident.longitude])).round(0) %>
  <% else %>
    <% distance = (Geocoder::Calculations.distance_between([meguro_lat, meguro_long], [@incident.latitude, @incident.longitude])).round(0) %>
  <% end %>
  <%= render 'distance_icon', distance: distance %>
  <%= distance %>
  km away from you
</p>
<p class="card--category">
  <i class="fas fa-comment me-1" style="font-size: 16px;"></i>
  comments
  (<%= @incident.comments.count %>)
</p>
