<div style="width: 100%; height: 180px; border-radius: 0 0 16px 16px"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @marker.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
