<div class="card card--gray" data-report-details-target="detailsCard">
  <div class="report-details">
    <button class="report-details__button" data-action="click->report-details#closeCard" data-report-details-target="button">
      <i class="fas fa-info-circle"></i>
      Add details
    </button>
    <div class="card__body" data-report-details-target="card">
      <%= f.input :title,
                label: false,
                placeholder: "What happened?",
                input_html: {
                  class: "title",
                  data: { "report-details-target": "title" }
                } %>
      <%= f.input :description,
                placeholder: "Share your experience (optional)",
                label: false,
                input_html: { class: "description" },
                required: false %>
    </div>
  </div>
</div>
