<div data-controller="active-button">
  <p>Choose a category</p>
  <div class="categories">
    <%= render "components/categories_list" %>
  </div>
</div>
<%= f.input :category_list,
            as: :hidden,
            input_html: {
              value: (params[:category] if params[:category].present?),
              data: { "report-details-target": "category" }
            }
%>
