<div data-controller="active-button">
  <p class="text--gray">Choose a category</p>
  <div class="categories">
    <%= render "components/categories_list" %>
  </div>
</div>
<%= f.input :category_list,
            as: :hidden,
            input_html: {
              value: "theft", # default value
              data: { "report-details-target": "category" }
            } %>
