<% @incident.category_list.each do |category| %>
  <% if category == "Disturb" %>
    <span class="tags--category me-2">Disturbing the peace</span>
  <% else %>
    <span class="tags--category me-2"><%= category %></span>
  <% end %>
<% end %>
