<div class="content">
  <%= simple_form_for @incident do |f| %>
    <%= render "components/incident_report", f: f %>
    <%# <%= f.input :category_list, label: "Add categories", as: :check_boxes, collection: [ "Violence", "Theft", "Arson", "Drugs", "Harrasment/SA", "Disturbing the Peace", "Traffic" ] %>
    <%= render "components/report_details", f: f %>
  <% end %>
</div>
