<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <div class="card">
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae hic, doloribus molestias consectetur laudantium provident odio voluptatem repudiandae voluptas culpa eos vel beatae natus facilis tempore aut dolores consequatur. Illum?
    </div>
    <%= render "shared/back_button", path:"test/test" %>
  </div>
  <button class="btn btn--close">Close</button>
</div>
