.top_container {
  text-align: center;
  font-size: 0.875rem;
  position: absolute;
  width: 100%;
  top: 0;

  h1 {
    font-size: 36px;
  }

  .text--blue {
    color: $primary;
  }

  &__logo {
    padding-block: 1rem;
    background: $dark;
  }

  &__heading {
    font-family: $roboto;
    font-size: inherit;
    position: relative;
    letter-spacing: 0.75px;
    margin: 0;
    font-weight: 400;
    color: rgb(165, 165, 165);
  }

  &__buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-top: 5.0rem;
    margin-inline: auto;
    padding-inline: 1.25rem;
  }

  &__button {
    font-size: 0.75rem;
    border-radius: 20px;
    padding-block: 0.25rem;
    border: none;
    @include centralize;
    background: $light-gray;
    color: $dark-gray;
    letter-spacing: 0.5px;
    box-shadow: $box-shadow;

    &.active {
      background: $primary;
      color: $light;
    }
  }
}
