.incidents-new {
  .mapboxgl-ctrl-top-right {
    top: 1rem;
  }

  .card.card--gray {
    position: fixed;
    bottom: 8.5rem;
    z-index: 100;
    width: 90%;
    left: 5%;
  }

  .map-container {
    height: 60vh;
    width: 100%;
    .mapbox {
      height: 66vh;
      width: inherit;
    }
  }

  .mapboxgl-ctrl.mapboxgl-ctrl-group {
    top: 4em;
    right: -0.5rem;
  }

  &__date-picker {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr auto;
    align-self: start;
  }

  .text--gray {
    color: rgb(170, 170, 170);
  }
}
