.incidents-new {
  .mapboxgl-ctrl-top-right {
    top: 1rem;
  }

  .card.card--gray {
    position: fixed;
    bottom: 8.5rem;
    z-index: 100;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mapboxgl-ctrl-geocoder--input {
    display: none;
  }

  .mapboxgl-ctrl.mapboxgl-ctrl-group {
    top: 0;
    right: -0.5rem;
  }
}
