.profile-show {
  height: calc(100vh - 6em);
  top: 0;
  overflow: scroll;
  color: rgb(240, 240, 240);

  h1 {
    font-size: calc(1.3rem + 3vw);
  }

  .text--roboto {
    font-family: $roboto;
    font-weight: 300;
    font-size: 18px;
  }

  .text--gray {
    color: gray;
  }

  .text--blue {
    color: $primary;
  }
}

.button--logout  {
  display: inline-flex;
  align-items: center;
  padding: 0.7em;
  background-color: #414346;
  color: #c2c2c2;
  border-radius: 50px;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}

@media only screen and (min-width: 1200px) {
  .profile__container {
    display: flex;
    justify-content: center;

    .profile-show {
      max-width: 840px;
    }
  }
}
