.profile-show {
  height: calc(100vh - 6em);
  top: 0;
  overflow: scroll;
  color: rgb(240, 240, 240);

  .text--roboto {
    font-family: $roboto;
    font-weight: 300;
    font-size: 18px;
  }

  .text--gray {
    color: gray;
  }

  .text--blue {
    color: $primary;
  }
}

.button--logout  {
  display: inline-flex;
  align-items: center;
  padding: 0.7em;
  background-color: #40464c;
  color: #e4e4e4;
  border-radius: 4px;
  right: 0;
  width: 100%;
  justify-content: center;
}
