.card {
  background: $dark-gray;
  color: $light;
  border-radius: 1rem;
  box-shadow: $box-shadow;
  overflow: hidden;

  &__body {
    padding: 1rem 1.5rem;
  }

  &.card--dark {
    background: $dark;
  }
}

.card--incident-details {
  background-color: #333333;
  border-radius: 16px;
  font-family: $roboto;

  h1 {
    color: rgb(247, 247, 247);
    font-size: 17px;
    font-family: $roboto;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    color: rgb(223, 223, 223);
  }

  .card--category {
    font-size: 13px;
    color: #8E9398;
    font-family: $roboto;
  }
}

.card--comment {
  width: 100%;

  .card--info {
    color: #969696;
    font-size: 14px;
  }
}
