.categories {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "button-left categories_list button-right"
    "button-left date-picker button-right";
  gap: 0.5rem;
  position: relative;

/* ----------------------------- Categories List ---------------------------- */
  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
    grid-area: categories_list;
    padding-block: 1rem 0.5rem;
    transition: all 0.3s ease-in-out;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }
/* ----------------------------- Categories List ---------------------------- */

/* ----------------------------- Categories Item ---------------------------- */
  &__item {
    flex: 0 0 auto;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    display: grid;
    grid-template-rows: 43px auto;
    justify-items: center;
    align-items: center;
    width: 75px;

    p {
      margin: 0;
    }
  }
/* ----------------------------- Categories Item ---------------------------- */

}
