.categories {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "button-left categories_list button-right"
    "button-left date-picker button-right";
  row-gap: 0.25rem;
  column-gap: 0.5rem;
  position: relative;
  overflow: hidden;

  &.open {
    display: none;
  }

/* ----------------------------- Categories List ---------------------------- */
  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
    grid-area: categories_list;
    padding-block: 0.5rem 0.25rem;
    transition: all 0.3s ease-in-out;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }
/* ----------------------------- Categories List ---------------------------- */

/* ----------------------------- Categories Item ---------------------------- */
  &__item {
    flex: 0 0 auto;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    width: 75px;

    img {
      width: 40px;
      height: 40px;
    }

    p {
      margin: 0;
    }

    &.last {
      order: 10;
    }
  }
/* ----------------------------- Categories Item ---------------------------- */

  &__button {
    img {
      transition: all 0.4s;
      filter: invert(91%) sepia(13%) saturate(7%) hue-rotate(126deg) brightness(93%) contrast(87%);
    }

    &.active {
      img {
        filter: unset;
      }
    }
  }
}
