.date-picker {
  letter-spacing: 0.5px;
  display: grid;
  grid-template-columns: auto 0.5fr auto 0.5fr;
  padding-inline: 5%;
  align-items: center;

  label {
    color: $light-gray;
    font-size: 14px;
    text-align: center;
  }

  &__input.form-control.input {
    background: transparent;
    border: none;
    color: $light;
    padding: 0;
    text-align: center;
  }
}

.flatpickr-input {
  background: transparent;
  color: $light;
  font-weight: 700;
  border: none;
  outline: none;
  width: 85px;
  margin-left: 0.25rem;
}
