.form--comments {
  position: fixed;
  bottom: 70px;
  width: 100%;
  background-color: #181818;
  border: 0px;
  padding-block: 1rem;

  form {
    width: 90%;
    border: 0px;
  }

  .form-control {
    background-color: #4D4E55;
    border-radius: 56px;
    border: 0px;
    height: 42px;
    color: rgb(226, 226, 226);
  }
}
