.report-details {
  padding-top: 0.9rem;
  border: 1px solid #333333;
  border-radius: 1rem;
  background: #333333;

  &.card {
    overflow: unset;
  }

  .card__body {
    padding: 0;
    transition: all 0.3s ease-in-out;
    max-height: 0px;
    overflow: hidden;
    border-top: 2px solid transparent;

    &.open {
      max-height: 150px;
      padding: 0;
      border-top: 2px solid #6d6d6d;
      background: #383838;
      width: 100%;
    }
  }

  input.description, input.title {
    color: #bcc4cd;
    background: #383838;
    border: none;
    justify-content: center;
    // border-radius: 1rem;
  }

  input.description {
    border-top: 2px solid #6d6d6d;
  }

  &__button {
    background: transparent;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1rem;

    i {
      transition: $transition;
      font-size: 1.25rem;
      margin-right: 0.3rem;
      position: relative;
      top: 2px;
    }

    &.open {
      .arrow i {
        transform: rotate(180deg);
      }
    }
  }
}
