.report-details {
  padding-top: 0.9rem;
  background: #1b1b1b;

  &.card {
    overflow: unset;
  }

  .card__body {
    padding: 0;
    transition: all 0.3s ease-in-out;
    max-height: 150px;
    max-height: 0px;
    overflow: hidden;
    border-top: 2px solid transparent;
    background: #1b1b1b;
    width: 100%;

    &.open {
      max-height: 150px;
    }

    // &.close {
    //   max-height: 0px;
    //   padding: 0;
    //   overflow: hidden;
    // }
  }

  input.description, input.title {
    color: #bcc4cd;
    background: #1b1b1b;
    border: none;
    justify-content: center;
    border-top: 2px solid #6d6d6d;
  }

  input.description {
    border-top: 2px solid #6d6d6d;
  }

  &__button {
    background: transparent;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-bottom: 0.5rem;

    i {
      font-size: 1.25rem;
      margin-right: 0.3rem;
      position: relative;
      transition: all 0.5s;
    }

    .fa-angle-up {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }

    &.open .fa-angle-up {
      transform: rotate(180deg);
    }
  }
}
