.report {
  background: $dark-gradient;
  width: 100%;
  height: 25%;
  margin: 0;
  padding: 20px 16px 1px 16px;
  text-align: center;
  z-index: 2;

  h3 {
    font-size: calc(1.3rem + 3vw);
  }

  .report-form {
    margin-bottom: 0;

    span {
      color: #238beb;
    }
  }

  .incident_category_list {
    label {
      color: rgb(173, 173, 173);
    }
  }

  input.search {
    margin-bottom: 1px;
    border-radius: 1rem;
    background: #bcc4cd;
    color: #393939;
  }

  .select .form-select {
    margin-bottom: 1px;
    border-radius: 50px;
  }

  p {
    margin: 0 auto;
  }

  .date-and-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    label {
      color: rgb(173, 173, 173);
    }
  }

  .report-details__submit {
    color: rgb(243, 243, 243);
    background-color: #747985;
    border-radius: 0 0 16px 16px;
    width: 90%;
    position: fixed;
    bottom: 5.6rem;
    height: 48px;
    left: 5%;
    @include centralize();

    &:focus {
      background-color: #1a75e6;
    }

    &.close {
      display: none;
    }
  }
}
