.feed {
  display: grid;
  // grid-template-rows: auto calc(100vh - 271px) auto;
  overflow: scroll;
  transition: 1s;

  &__buttons-container {
    margin-top: 0;
    padding: 0 0.5em 0 0.5em;
    margin-bottom: 0.7em;
    display: flex;
    gap: 0.4em;

    .top_container__button {
      width: 100%;
    }
  }

  &.open {
    display: grid;
    // grid-template-rows: auto calc(100vh - 390px) auto;
    overflow: scroll;
  }

  .categories {
    display: grid;

  }

  .date {
    display: grid;
  }

  &__top {
    display: grid;
    gap: 1rem;
    padding-block: 1rem;
    text-align: center;

    & > p {
      margin: 0;
    }
  }

  &__incidents {
    height: calc(100vh - 271px);
    display: flex;
    padding-top: 0.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    width: 100%;

    &.open {
      height: calc(100vh - 390px)
    }
  }

  &__paragraph {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;

    i {
      transition: $transition;
      font-size: 1.25rem;
      margin-right: 0.3rem;
      position: relative;
      top: 2px;
    }

    &.open {
      i {
        transform: rotate(180deg);
      }
    }
  }
}
