.feed {
  display: grid;
  // grid-template-rows: auto calc(100vh - 271px) auto;
  overflow: scroll;
  transition: 1s;

  &.open {
    display: grid;
    // grid-template-rows: auto calc(100vh - 390px) auto;
    overflow: scroll;
  }

  .categories {
    display: grid;

  }

  .date {
    display: none;

    &.open {
      display: grid;
    }
  }

  &__top {
    display: grid;
    gap: 1rem;
    padding-block: 1rem;
    text-align: center;

    & > p {
      margin: 0;
    }
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__incidents {
    max-height: calc(100vh - 271px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    transition: all 0.5s;

    &.open {
      max-height:calc(100vh - 390px)
    }
  }

  &__paragraph {
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;

    i {
      transition: $transition;
      font-size: 1.25rem;
      margin-right: 0.3rem;
      position: relative;
      top: 2px;
    }

    &.open {
      i {
        transform: rotate(180deg);
      }
    }
  }
}
