<div class="users-show p-3">
  <div class="users__header d-flex justify-content-center border-bottom mt-3">
    <h1><%= @user.name.capitalize %>'s <span class="text--blue">Profile</span></h1>
  </div>
  <div class="users__posts">

  </div>
</div>
